<div class="pagebox" fxLayout="column" fxLayoutAlign="center">

  <div fxLayout="row" fxLayoutAlign="center">
    <p>
      <i class="material-icons">wb_sunny</i>
    </p>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">
    <h3>
      <countdown [text]="empty" units="Month | Days | Hours | Minutes | Seconds"  end="2018-01-01T09:10:00Z"></countdown>
    </h3>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">
    <h2>
      <countdown [text]="empty" units="Month | Days | Hours | Minutes | Seconds"  end="2018-01-04T18:20:00Z"></countdown>
    </h2>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">
    <h1>
      <countdown [text]="full" units="Month | Days | Hours | Minutes | Seconds"  end="2018-01-27T19:00:00Z"></countdown>
    </h1>
  </div>

</div>
